@font-face {
    font-family: Cygun;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("../public/assets/fonts/cygun-bold.566253311df71162ce05.woff2") format("woff2");
}
@font-face {
    font-family: ARIAL;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("../public/assets/fonts/ARIAL.TTF") format("TTF");
}
@import "tailwindcss";

@theme{
    --font-cygun: 'Cygun', sans-serif;
    --font-arial: 'ARIAL', sans-serif;
    --animate-blink: blink 2s linear infinite;
    --animate-btn-anim1: btn-anim1 1s linear infinite;
    --animate-btn-anim2: btn-anim2 1s linear 0.25s infinite;
    --animate-btn-anim3: btn-anim3 1s linear 0.5s infinite;
    --animate-btn-anim4: btn-anim4 1s linear 0.75s infinite;


@keyframes blink {
    0% {
        opacity: 1;
        transform: translateY(-5px);
    }
    10% {
        opacity: 0.8;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0.8;
    }
    40% {
        opacity: 1;
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(-5px);
    }
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}
}

.content-wrap{
    @apply container px-5 md:px-8 mx-auto ;
}
.sub-title{
    @apply font-arial text-white text-lg uppercase;
}
.section-title{
    @apply font-cygun font-bold lg:text-6xl md:text-5xl text-4xl text-white lg:leading-16 md:leading-15 leading-12 lg:pb-10 pb-6;
}
.card-title{
    @apply font-cygun text-white text-2xl md:text-4xl line-clamp-1 opacity-60 hover:opacity-100 text-center z-[2];
}
.card-discription{
    @apply font-arial text-white text-sm md:text-lg line-clamp-3 text-center py-5 z-[2];
}

.card-overlay::before{
    margin: 0;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 100%;
    transition: all 0.4s cubic-bezier(0.3, 0, 0.3, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.3, 0, 0.3, 1);
    transform: scale(0);
    -webkit-transform: scale(0);
    background: #ff36d7;
    pointer-events: none;
    filter: blur(95px);
}
.card-overlay.active::before{
    transform: scale(1);
    -webkit-transform: scale(1);
}

.button-animate{
    @apply px-7 py-3 bg-[#ba00fb20] hover:bg-[#ba00fb40] text-white cursor-pointer relative overflow-hidden inline-block justify-center font-cygun rounded-xs text-2xl;
}
.button-animate p{
    background: linear-gradient(108deg, #fff 3.7%, #c66ae6 93.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-animate{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20px 100%, 0% calc(100% - 20px));
}


.tokyo-city {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}